<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout :: layout(~{::section}, 'rentals')}">
<head>
    <title>Rentals - Admin</title>
</head>
<body>
<section>
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Rentals table</h2>
        <a th:href="@{/admin/rentals/new}"
           class="btn btn-primary"
           style="background: var(--primary); border:none; padding: 10px 20px; border-radius: 10px; font-weight: 600; display: inline-flex; align-items: center; gap: 8px;">
            <i class="bi bi-calendar-plus"></i> Add rental
        </a>
    </div>

    <div class="card border-0 shadow-sm p-4" style="border-radius: 15px;">
        <table class="table table-hover align-middle">
            <thead class="table-light">
            <tr>
                <th>User</th>
                <th>Car</th>
                <th>Period</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Pickup Location</th>
                <th>Created At</th>
                <th class="text-end">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rental : ${rentals}">
                <td th:text="${rental.user.firstName + ' ' + rental.user.lastName}">...</td>
                <td th:text="${rental.car.brand + ' ' + rental.car.model}">...</td>
                <td>
                    <small th:text="${rental.startDate} + ' to ' + ${rental.endDate}"></small>
                </td>
                <td th:text="${rental.totalPrice + ' $'}" class="fw-bold text-success">...</td>
                <td>
                    <span class="badge bg-light text-dark border" th:text="${rental.status}">...</span>
                </td>
                <td th:text="${rental.pickupLocation.city}">...</td>
                <td th:text="${rental.createdAt}" >...</td>
                <td class="text-end">
                    <a th:href="@{/admin/rentals/edit/{id}(id=${rental.id})}" class="btn btn-sm btn-outline-primary me-2">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a th:href="@{/admin/rentals/delete/{id}(id=${rental.id})}"
                       class="btn btn-sm btn-outline-danger"
                       onclick="return confirm('Sure ?')">
                        <i class="bi bi-trash"></i> Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>